<div class="main">
    <div class="pt-2" >
        <h2 class="text-center text-uppercase fw-bolder fs-1" style="color: rgb(44, 62, 80);">contact section</h2>
        <div class="d-flex justify-content-center align-items-center my-3  ">
            <div class="darkline mx-4" style="color: rgb(44, 62, 80);"></div>
            <i class="fa fa-solid fa-star "></i>
            <div class="darkline mx-4"></div>
        </div>
</div>

<div class="container">
    <div class="row">
        
        <form action="" class="w-50 mx-auto g-5" >
            <input type="text" class="form-control my-4" placeholder="userName">
            <input type="number" class="form-control my-4" placeholder="userAge">
            <input type="email" class="form-control my-4" placeholder="userEmail">
            <input type="password" class="form-control my-4" placeholder="userPassword">
            <button class="btn btn-color"> send message</button>
        </form>
    </div>
</div>
</div>