<div class="home d-flex justify-content-center align-items-center min-vh-100">

    <div class="text-center" >
    <img src="assets/images/avataaars.svg"  class="mb-3"  alt="">
    <div class="pt-4 text-center">
        <h2 class="text-uppercase text-white fs-1 fw-bolder">start framework</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center my-3  ">
        <div class="whiteline mx-4"></div>
        <i class="fa fa-solid fa-star text-white"></i>
        <div class="whiteline mx-4"></div>
    </div>
    <div class="text-white">
        Graphic Artist - Web Designer - Illustrator
    </div>

</div>
    
</div>
